body {
	padding: 20px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.columns {
	display: flex;
}

.border-column {
	flex: 2;
}

.center-column {
	flex: 3;
}

@media (max-width: 1024px) {
	.border-column {
		flex: 1;
	}

	.center-column {
		flex: 3;
	}
}

@media (max-width: 480px) {
	.columns {
		flex-direction: column;
	}
}
h3 {
	margin-top: 40px;
}

p {
	font-size: 18px;
	line-height: 26px;
}

a {
	color: #139087;
}

a:hover {
	color: #24a198;
}

b,
strong {
	font-weight: 400;
	color: #eb5720;
}
